#search-box{
    width : 70%;
    margin-left : 10px;
    margin-top : 10px;
}

#search-btn{
    margin-left : 10px;
    margin-top : 10px;
 }

 #student-list{
     height : 300px;
 }
 .result{
    margin-left : 40%;
    margin-top : 15%;
}