<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>fullscreen</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>htmlpage_professor</title>
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

</head>

<body>
    <div class="wrapper2">
        <div class="btn1">
            <button id="mic_student" button type="button" i class="fas fa-microphone fa-2x" title="학생마이크 on/off"></button><!-- 학생마이크 음소거 -->
            <button id="mic_professor" button type="button" i class="fas fa-microphone-alt fa-2x" title="교수마이크 on/off"></button><!-- 교수마이크 음소거 -->
            <button id="cam_professor" button type="button" i class="fas fa-camera fa-2x" title="교수카메라 on/off"></button><!-- 교수 카메라  -->
            <button id="rec" button type="button" i class="fas fa-video fa-2x" title="녹화기능"></button><!-- 녹화 -->
            <button id="whiteboard" button type="button" i class="far fa-clipboard fa-2x " title="화이트보드"></button><!-- 화이트보드 -->
            <button id="nochat" button type="button" i class="fas fa-comment-slash fa-2x" title="채팅금지"></button><!-- 채팅금지 -->
            <button id="smallscreen" button type="button" i class="fas fa-compress fa-2x" title="화면축소" value="확인" onclick="location.href='Htmlpage_professor.html'"></button><!-- 화면축소 -->
        </div>


        <div class="came1"> <video playsinline id="main-cam2" controls preload="metadata" autoplay></video></div>
        <div class="came2"> <video playsinline id="main-cam2" controls preload="metadata" autoplay></video></div>
        <div class="came3"> <video playsinline id="main-cam2" controls preload="metadata" autoplay></video></div>
        <div class="came4"> <video playsinline id="main-cam2" controls preload="metadata" autoplay></video></div>
        <div class="came5"> <video playsinline id="main-cam2" controls preload="metadata" autoplay></video></div>


        <div class="came6"> <video playsinline id="main-cam2" controls preload="metadata" autoplay></video> </div>
        <div class="came7">  <video playsinline id="main-cam2" controls preload="metadata" autoplay></video></div>
        <div class="came8"> <video playsinline id="main-cam2" controls preload="metadata" autoplay></video> </div>
        <div class="came9">  <video playsinline id="main-cam2" controls preload="metadata" autoplay></video></div>
        <div class="came10">  <video playsinline id="main-cam2" controls preload="metadata" autoplay></video></div>
        <div class="came11">  <video playsinline id="main-cam2" controls preload="metadata" autoplay></video></div>
        <div class="came12"> <video playsinline id="main-cam2" controls preload="metadata" autoplay></video> </div>
        <div class="came13"> <video playsinline id="main-cam2" controls preload="metadata" autoplay></video> </div>
        <div class="came14"> <video playsinline id="main-cam2" controls preload="metadata" autoplay></video> </div>
        <div class="came15">  <video playsinline id="main-cam2" controls preload="metadata" autoplay></video></div>

        <div class="came16"> <video playsinline id="main-cam2" controls preload="metadata" autoplay></video> </div>
        <div class="came17">  <video playsinline id="main-cam2" controls preload="metadata" autoplay></video></div>
        <div class="came18"> <video playsinline id="main-cam2" controls preload="metadata" autoplay></video> </div>
        <div class="came19"> <video playsinline id="main-cam2" controls preload="metadata" autoplay></video> </div>
        <div class="came20"> <video playsinline id="main-cam2" controls preload="metadata" autoplay></video> </div>
        <div class="came21"> <video playsinline id="main-cam2" controls preload="metadata" autoplay></video> </div>
        <div class="came22"> <video playsinline id="main-cam2" controls preload="metadata" autoplay></video> </div>
        <div class="came23"> <video playsinline id="main-cam2" controls preload="metadata" autoplay></video> </div>
        <div class="came24">  <video playsinline id="main-cam2" controls preload="metadata" autoplay></video></div>
        <div class="came25"> <video playsinline id="main-cam2" controls preload="metadata" autoplay></video> </div>
        <div class="came26">  <video playsinline id="main-cam2" controls preload="metadata" autoplay></video></div>
        <div class="came27">  <video playsinline id="main-cam2" controls preload="metadata" autoplay></video></div>
        <div class="came28">  <video playsinline id="main-cam2" controls preload="metadata" autoplay></video></div>
        <div class="came29"> <video playsinline id="main-cam2" controls preload="metadata" autoplay></video></div>
        <div class="came30">  <video playsinline id="main-cam2" controls preload="metadata" autoplay></video></div>


    </div>

</body>
</html>