<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
    <script defer src="/js/index.js"></script>
    <script defer src="/socket.io/socket.io.js"></script>
</head>
<body>
    <h1>Welcome! <%= userid %></h1>
    <div id="input" class="invisible">
        <input type="text" id="roomID" placeholder="Enter room number!">
        <button id="join">Join</button>
        <button id="speaker">Select Speaker</button>
    </div>
    <button id="createRoom">Create Room</button>
    <button id="joinRoom">Join Room</button>
    <form action="/logout" method="get">
      <input type="submit" value="logout">
    </form>
</body>
</html>