<!doctype html>

<html>

<head>
    <meta charset="utf-8" />

    <title>htmlpage_student</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/student.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/chat.css">
    <link rel="stylesheet" href="/css/videoContainer.css">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <script defer src="/js/adapter.js"></script>
    <script defer src="/js/kurento-utils.js"></script>
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="/js/student.js"></script>
    <script defer src="/js/util/stVideo.js"></script>
    <script defer src="/js/util/chat.js"></script>
    <script defer src="/js/receiveMessage_S.js"></script>
    <script>
        const ROOM_ID = '<%= roomID %>';
    </script>

</head>

<body>
    <div id="main-container-left">
        <video id="host-cam" preload="metadata" autoplay></video>
        <div id="footer" class="flex-row">
            <div id="footer-left" class="flex-row">
                <button id="out" class="foot-button"><i class="fas fa-arrow-left fa-2x foot-icon"
                        title="퇴장"></i></i></button>
            </div>
            <div id="footer-center" class="flex-row">
                <button id='question'>음성 질문 요청</button>
                <button id='leave'>자리 비움 요청</button>
            </div>
            <div id="footer-right" class="flex-row">
                <button id="mike" class="foot-button"><i class="fas fa-microphone fa-2x foot-icon"
                        title="마이크"></i></button>
                <button id="camera" class="foot-button"><i class="fas fa-camera fa-2x foot-icon"></i></button>
            </div>
        </div>
    </div>


    <div id="main-container-right">
        <div id="my-cam-container">
            <video id="my-cam" preload="metadata" autoplay></video>
        </div>

        <div id="chat-container">
            <div id="chatView"></div>
            <form id="chatForm" onsubmit="return false">
                <input type="text" id="msg" autofocus="true" autocomplete="false">
                <input type="submit" id="send" value="전송">
            </form>
        </div>
    </div>


</body>

</html>