/* 채팅 */
#chat-container{
    background: white;
    border-bottom: 1px solid black;
    width: 100%;
    height: 65%;
}

#chatView {
    background: white;
    border-bottom: 1px solid black;
    height: 90%;
    overflow-y: scroll;
}

.chat {
    display: flex;
    flex-direction: column;
    margin: 3%;
    margin-right: 40%;
}

.name {
    font-size: 12px;
}

.msg {
    border-radius: 10px;
    background-color: gray;
    color: white;
    padding: 5%;
}

.my-chat {
    display: flex;
    flex-direction: column;
    margin: 3%;
    margin-left: 40%;
}

.my-name {
    font-size: 12px;
    text-align: end;
}

.my-msg {
    border-radius: 10px;
    background-color: #43AAFF;
    color: white;
    padding: 5%;
}

.system {
    margin: 3%;
    font-size: 14px;
}

#chatForm {
    background: white;
    height: 10%;
    border-top: 1px solid black;
    text-align: center;
}



/* #msg {
    width: 400px;
    height: 48px;
}

#send {
    width: 93px;
    height: 49px;
    background: rgba(97, 219, 238, 0.021);
    color: black;
    border : 0px;
} */