<!DOCTYPE html>
<html>
    <head>
        <meta charset= "UTF-8">
        <title>login</title>
    </head>
    <body>
    <form method="post" action="/login">
        <h1> login </h1>
        <p>ID : <input type="text" name="id"> </p>
        <p>PASS : <input type="password" name="password"> </p>
        <p><input type="submit"> </p> 
    </form>
    </body>
</html>
